 [Unit]
 Description=DialServer - Websocket Server for Microsoft Surface Dial
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/node /opt/dialserver/main.mjs {HANDLER-NAME}

 [Install]
 WantedBy=multi-user.target
